.imageElement {
    border-radius: 20px;
}

.sliderArrows--carousel {
    color : #fff;
    bottom: 0;
}

.sliderLayoutContainer--carousel{
    background: none;
}

.sliderArrows {
    color: #59ff00
}

.paginationDotsContainer{
    margin-left: 40px;
    margin-right: 40px;
}