.searchBarContainer :global(.vtex-styleguide-9-x-input),
.searchBarContainer :global(.vtex-input__suffix){
    background-color: transparent;
}
.searchBarContainer :global(.vtex-input-prefix__group){
    border-radius: 0px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}
.searchBarIcon{
    color: #fff;
}


.productNameContainer{
    color: #fff;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

.swiperCaret {
    color: #59ff00
}